{% extends "base.html" %}
{% block title %}Pay fees{% endblock %}
{% block head %}Pay fees{% endblock %}
{% block content %}


<ul class="nav">


   {% if user.is_staff %}
   <li> <a  href="/faculty/">Home</a></li>
  <li>  <a href="/courseadd/">Add Courses</a></li>
   {% else %}
    <li> <a  href="/student/">Home</a></li>
  <li>  <a href="/courseregister/">Register for Course</a></li>
   {% endif %}

   <li> <a class ="active" href="/registeredcourses/">Your Courses</a></li>

   <li><a  href="/coursedisplay/">View all Courses</a> </li>

    <li><a href="/logout/">Logout</a></li>
    </ul>

<div class="container">

<p> Fees paid successfully :  {{ fees }}$  </p>
<a href='/student/'>Go to Home</a>
</div>
{% endblock %}
